<script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
</script>

	<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
		<div class="container clearfix">
			<div id="content" class="grid_7 alpha">
				<h1> Links </h1>
				<ul>
					<li><a href='/canvas/index' target="_blank"> Logging Interface </a></li>
					<li><a href='/canvas/train_svm' target="_blank"> Train SVM </a></li>
					<li><a href='/canvas/log' target="_blank"> Log Viewer </a></li>
					<li><a href='/canvas/predictions' target="_blank"> Model Predictions </a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<style type="text/css">
		span{
			font-weight: bold;
		}
	</style>
