	
	<div id="logo">
		<a href="/"><img src="http://www.errolschwartz.com/v5/img/ui/logo.gif" alt="Errol Schwartz"></a>
	</div><!-- logo -->
	
	<div id="shell">
		
		<div id="header">
			<p id="title">Three.js Scene Creator</p>
			<p id="show_js">Show JS</p>
		</div><!-- header -->
		
		<div id="scene"><canvas width="756" height="558"></canvas></div><!-- scene -->
		<div id="toolbar"><div class="toolbar_icon ui_img_bg bg_hover" style="background-position: 0px 0px;"></div><div class="toolbar_icon ui_img_bg bg_hover" style="background-position: 0px -30px;"></div><div class="toolbar_icon ui_img_bg bg_hover" style="background-position: 0px -60px;"></div><div class="toolbar_icon ui_img_bg bg_hover" style="background-position: 0px -90px;"></div></div><!-- toolbar -->
		<div id="inspector"><p class="panel_label"><p>Inspector</p></p><div class="inspector_panel hidden"><p class="medium_title">position</p><div class="inspector_adjustor"><p class="ui_label">x</p><div class="inspector_form"><input type="text" class="inspector_input"></div></div><div class="inspector_adjustor"><p class="ui_label">y</p><div class="inspector_form"><input type="text" class="inspector_input"></div></div><div class="inspector_adjustor"><p class="ui_label">z</p><div class="inspector_form"><input type="text" class="inspector_input"></div></div></div><div class="inspector_panel hidden"><p class="medium_title">rotation</p><div class="inspector_adjustor"><p class="ui_label">x</p><div class="inspector_form"><input type="text" class="inspector_input"></div></div><div class="inspector_adjustor"><p class="ui_label">y</p><div class="inspector_form"><input type="text" class="inspector_input"></div></div><div class="inspector_adjustor"><p class="ui_label">z</p><div class="inspector_form"><input type="text" class="inspector_input"></div></div></div><div class="inspector_panel hidden"><p class="medium_title">scale</p><div class="inspector_adjustor"><p class="ui_label">x</p><div class="inspector_form"><input type="text" class="inspector_input"></div></div><div class="inspector_adjustor"><p class="ui_label">y</p><div class="inspector_form"><input type="text" class="inspector_input"></div></div><div class="inspector_adjustor"><p class="ui_label">z</p><div class="inspector_form"><input type="text" class="inspector_input"></div></div></div><div class="inspector_panel hidden"><p class="medium_title">light</p><div class="inspector_adjustor"><p class="ui_label">intensity</p><div class="inspector_form"><input type="text" class="inspector_input"></div></div></div></div><!-- inspector -->
		<div id="library"><div class="panel_label"><p>Library</p></div><div id="library_scroller_holder"><div id="library_scroller"></div></div><div class="library_toolbar"><div class="library_toolbar_icon ui_img_bg bg_hover" style="background-position: -30px 0px;"></div><div class="library_toolbar_icon ui_img_bg bg_hover" style="background-position: -30px -20px;"></div></div></div><!-- library -->
		<div id="tooltip"></div><!-- tooltip -->
		
	</div><!-- shell -->
	
	<div id="footer">
		<ul>
			<li><span class="black_text">ESC</span> - Deselect object.</li>
			<li><span class="black_text">DELETE</span> - Delete object.</li>
			<li>-</li>
			<li>Requires a browser that supports the html5 canvas tag.</li>
			<li>Check out <a href="http://mrdoob.com">Mr.doob</a> who created <a href="https://github.com/mrdoob/three.js/">Three.js</a>.</li>
		</ul>
		
	</div><!-- footer -->
