
<script type="text/javascript">
   $(function(){
    
    $.get('/resources/test.jscad', function(data){
      console.log(data);
      gProcessor = new OpenJsCad.Processor(document.getElementById("viewer"));
     setupDragDrop();
      gProcessor.setJsCad(data, '/resources/test.jscad');
    });
     
   }); 
</script>
  
<!-- USER INTERFACE  -->
<header> 
  <span id='logo'> Generative Model </span>
  <nav>
    <a href="#">Open</a>
    <a href="#">Save</a>
  </nav>
  
    <div id="filedropzone">
    <div id="filedropzone_empty" style="display: none;">Drop your .jscad file here</div>
    <div id="filedropzone_filled" style="display: block;">
      <span id="currentfile">Current file: test.jscad</span>
      
    </div>
  </div>
  <div id="status"></div>
</header>
<div id="main">


  <div id="viewer">
     <div class="viewer">
      
        <canvas></canvas>
     </div>
  </div>
</div>

<div id="preview"></div> 
<script type="text/javascript">  
  var model = new GM($('#preview'));
  $(function(){
    model.sample();
    
  })
</script>

