<script>
var curFV = null;

$(function(){
	enableInput();
	generate();
});

function generate(){
	curFV = new featureVector();
	$.ajax({
		  type: "POST",
		  url: "/canvas/predict",
		  data:{'aesthetic' : curFV },
		  success: function(data){
		  	console.log('Processed:  ' +  JSON.stringify(data));
		  //canvas.addClass(!data[0]?'beauty':'ugly');
		  	if(data[0] != <%= params['t']%>)
		  		generate();
		  	else
		  		render($('canvas'), curFV);
		  },
		  dataType: "json"
		});
	
}
//HSL space : H[0, 360], S[0% - 100%], L[0%-100%]

function featureVector(){
   this.rect = new HSL();
   this.outer = new HSL();
   this.inner = new HSL();
}
featureVector.prototype.setRating = function(rating){
	this.rating = rating;
}


function HSL(){
	var r = Math.random();
	this.H = Math.floor(r * 360);
	r = Math.random();
	this.S = (Math.floor(r * 100));
	r = Math.random();
	this.L = (Math.floor(r * 100));	
}
HSL.prototype.toString = function(){
		return "hsl("+this.H+","+this.S+"%,"+this.L+"%)";
}

function render(canvas, featureVector){
	canvas.drawRect({
	  fillStyle: featureVector.rect.toString(),
	  x: 200, y: 200,
	  width: 400,
	  height: 400,
	  fromCenter: true
	});
	
	canvas.drawArc({
	  fillStyle: featureVector.outer.toString(),
	  x: 200, y: 200,
	  radius: 180,
	  fromCenter: true
	});

	canvas.drawArc({
	  fillStyle: featureVector.inner.toString(),
	  x: 200, y: 200,
	  radius: 100,
	  fromCenter: true
	});
}


function enableInput(){
	// button press
	$.each($('button'), function(i, v){
		$(v).click(function(){logAesthetic(i)});
	});

	//key press
	document.addEventListener('keydown', function(event) {
    if(event.keyCode == 65) {
        //log X
        logAesthetic(0);
    }
    else if(event.keyCode == 83) {
        //log O
        logAesthetic(1);
    }
    else if(event.keyCode == 68) {
        //log O
        logAesthetic(2);
         
    }
	});
}

function logAesthetic(rating){
	curFV.setRating(rating);
	console.log(JSON.stringify(curFV));
	$.ajax({
		  type: "POST",
		  url: "/canvas/post_aesthetic",
		  data:{'aesthetic' : curFV },
		  success: function(data){
		  	console.log('Processed:  ' +  JSON.stringify(data));
		  },
		  dataType: "json"
		});
    generate();
}

</script>
<style>
	canvas{
		margin: 0 auto;
		display: block;
	}
	body{
		background: gray;
	}
	#feedback{
		margin: 15px auto;
		display: block;
		width: 400px;
	}
		#feedback button{
			width: 33%;
			float: left;
			border-radius: 5px;
		}
		#feedback button img{
			width: 30px;
			height: 30px;
		}
</style>

<canvas width="400" height="400">
</canvas>
<div id='feedback'>
	<button><%= image_tag "A.png"%></button>
	<button><%= image_tag "S.png"%></button>
	<button><%= image_tag "D.png"%></button>
</div>