<script>
  var g = new Graphics();
  var gml = new GML();

  $(function(){
    g.init();
    g.animate();
    $('#fullscreen').click(function(){
      $(this).toggleClass('fullscreen');
      $("canvas").toggleClass('fullscreen');
      canvas = document.getElementsByTagName("canvas")[0];
      canvas.width = document.body.clientWidth; //document.width is obsolete
      canvas.height = document.body.clientHeight; //document.height is obsolete
      canvasW = canvas.width;
      canvasH = canvas.height;

      //onWindowResize();
    });
    $('#clear-all').click(removeAllComponents);
    $('#tab2').click(GUI.loadJSON);
    $('#tab1').click(GUI.loadCanvas);
    $('#file-open').click(GUI.loadOpenMenu);
    $('#savegml').click(JSONLoader.saveFile);
    $('#close-popup').click(function(){
      $('#overlay').hide();
      $('#popup').hide();
    });
    GUI.generateCanvas();
    
  });
function openMenuClick(){
  console.log("Opening");
  var filename = $(this).attr('name');
  GUI.alert("Opening", filename);
  $.get('/voxelgml/load_file?filename=' + filename, function(data){
    gml = new GML();
    gml.loadJSON(data);
    g.loadScene(gml);
  });
}
/* INTERACTION HANDLERS */
function addComponent(voxel){
  gml.addComponent(voxel); // Markup
  GUI.addComponent(voxel); //GUI
  g.scene.add( voxel.mesh ); //Graphics
}

function removeComponent(intersect){
  voxel = g.removeComponent(intersect);
  GUI.removeComponent(voxel);
  gml.removeComponent(voxel)
}
function removeAllComponents(){
  g.removeAll(); 
  GUI.removeComponents();
  gml.removeComponents();

}
</script>


<div class="alert alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
 <span><strong>Warning!</strong> Best check yo self, you're not looking too good.</span>
</div>
<div id='overlay'></div>
<div id='popup'>
  <div id='saved_files' class="list-group">
    <a href="#" class="list-group-item active">
      LOAD FILE
      <span id='close-popup' class="badge">x</span>
    </a>
  </div>
</div> 
<div class="navbar">
  <a href="#" class="navbar-brand">AuraGML</a>

  <div class="btn-group pull-left">
      <button type="button" class="btn btn-default navbar-btn"><%= image_tag 'voxel2.png'%></button>
      <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"><%= image_tag 'cylinder.png'%> Cylinder </a></li>
        <li><a href="#">Save as STL</a></li>
        <li class="divider"></li>
        <li><a  href="#">Save as JSGML</a></li>
      </ul>
  </div>

  <div class="btn-group pull-right">
    <button type="button" id='file-open' class="btn btn-default navbar-btn">Load</button>
      <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
  	 <button type="button" class="btn btn-default navbar-btn"> Library </button>
     <button id='fullscreen' type="button" class="btn btn-default navbar-btn"><%= image_tag 'fullscreen.png'%></button>
  	  
  	  <ul class="dropdown-menu">
        <li><a id='file-open' href="#">Load</a></li>
  	    <li><a href="#">Save as PNG</a></li>
  	    <li><a href="#">Save as STL</a></li>
  	    <li class="divider"></li>
  	    <li><a id='savegml' href="#">Save as JSGML</a></li>
  	  </ul>
  	</div>
  </div>


  <div id='viewport' class="panel">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a id='tab1' href="#tab1" data-toggle="tab"> Viewport </a></li>
      <li><a href="#tab2" id='tab2' data-toggle="tab"> Model </a></li>
    </ul>
    <div class="tab-content">
      <div id='viewport-panel' class="tab-pane active" id="tab1">
      
     <!--  <div id='preview-panel'>
      </div> -->
    </div>
      <div class="tab-pane" id="tab2">
         <textarea class="well">  <p> JS </p> </textarea>
      </div>
    
  </div>
  </div> 
  <div id='sidepanel' class="panel">
    <div class="panel-heading"> Component Features 
       <div class="btn-group pull-right">
      <button id='clear-all' type="button" class="btn btn-default btn-xs"> Clear All </button>
   </div>
   </div>
   <h5 class='list-heading'> Components </h5>
      <div id='component-list'> </div>
      <h5 class='list-heading'> Attachments </h5> 
      <div id='attachment-list'></div>

      <h5 class='list-heading'> Features </h5> 
      <div id='feature-list' >  

      
    
      <table>
        <tr>
          <th> Name </th>
          <th> Domain </th>
          <th> Distribution </th>
        </tr>
        
      </table>
    </div>
   </div>
  </div>


