<script>
  var g = new Graphics();
  $(function(){
    
    g.init();
    g.animate();
    $('#fullscreen').click(function(){
      $(this).toggleClass('fullscreen');
      $("canvas").toggleClass('fullscreen');
      canvas = document.getElementsByTagName("canvas")[0];
      canvas.width = document.body.clientWidth; //document.width is obsolete
      canvas.height = document.body.clientHeight; //document.height is obsolete
      canvasW = canvas.width;
      canvasH = canvas.height;

      //onWindowResize();
    });
    $('#clear-all').click(clearAll);
  });
</script>

<div class="navbar">
  <a href="#" class="navbar-brand">AuraGML</a>

  <div class="btn-group pull-left">
      <button type="button" class="btn btn-default navbar-btn"><%= image_tag 'voxel2.png'%></button>
      <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"><%= image_tag 'cylinder.png'%> Cylinder </a></li>
        <li><a href="#">Save as STL</a></li>
        <li class="divider"></li>
        <li><a href="#">Save as JSGML</a></li>
      </ul>
  </div>

  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default navbar-btn">Save</button>
      <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
  	 <button type="button" class="btn btn-default navbar-btn"> Library </button>
     <button id='fullscreen' type="button" class="btn btn-default navbar-btn"><%= image_tag 'fullscreen.png'%></button>
  	  
  	  <ul class="dropdown-menu">
  	    <li><a href="#">Save as PNG</a></li>
  	    <li><a href="#">Save as STL</a></li>
  	    <li class="divider"></li>
  	    <li><a href="#">Save as JSGML</a></li>
  	  </ul>
  	</div>
  </div>


  <div id='viewport' class="panel">
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab"> Viewport </a></li>
      <li><a href="#tab2" data-toggle="tab"> Model </a></li>
    </ul>
    <div class="tab-content">
      <div id='viewport-panel' class="tab-pane active" id="tab1">
      </div>
      <div class="tab-pane" id="tab2">
         <div class="well">  <p> JS </p> </div>
      </div>
    </div>
  </div>
  </div> 
  <div id='sidepanel' class="panel">
    <div class="panel-heading"> Component Features 
       <div class="btn-group pull-right">
      <button id='clear-all' type="button" class="btn btn-default btn-xs"> Clear All </button>
   </div>
   </div>
   <div id='component-list'><h5> Compnents </h5> </div>
   <div id='attachment-list'><h5> Attachments </h5> </div>

   <hr class='divider'>   
   <div id='feature-list'>  
    <h5> Features </h5>
      <table>
        <tr>
          <th> Name </th>
          <th> Domain </th>
          <th> Distribution </th>
        </tr>
        
      </table>
    </div>
   </div>
  </div>


