<script> 
// MODEL DATA
var pca = <%= @pca %>;
var regions = <%= @seg %>;
var invRegions = invert(regions);
var operationData = <%= @operations %>;

$(function(){
	initOpenGL($('#scene'), {
    "success" : function(){},
    "error" : function(){}
  });
  $('#test-region').click(function(){
    mainExpFab.regions[0].generateImage();
  });
});	


function userRay(event){
	var c = $(renderer.domElement);
	var vector  = toCanvasCoord(event).setZ(0.5);
	projector.unprojectVector( vector, camera );
	return new THREE.Raycaster( camera.position, vector.sub( camera.position ).normalize());
}

function inputEvent(event){
  if(event.objfn == null) event.objfn = function(regid){};
  if(event.axesfn == null) event.axesfn = function(regid, axesfn){};
  if(event.mainfn == null) event.mainfn = function(){};

  event.preventDefault();
  controls.enabled = !(event.metaKey);
  if(!(event.altKey || event.metaKey)) { gui = $('.region').mouseleave(); return; };


  var ray = userRay(event);
  var all = scene.children;
  cones  = [], objects = [];

  for(var i in all) if(all[i] !== undefined && all[i] instanceof THREE.ArrowHelper) cones.push(all[i].cone); 
  for(var i in all) if(all[i] !== undefined && all[i] instanceof THREE.Mesh) objects.push(all[i]);
  var selected = {'objects' : ray.intersectObjects(objects), 'axes' : ray.intersectObjects(cones)};

  if(activeAxis != null){
    var regid = selectedRegions2(mainExpFab);
    event.mainfn(event, regid);
  }

  if(selected.axes.length > 0){
    selectionMode = true;
    var regid = selectedRegions2(mainExpFab)[0];
    var pcaid = parseInt(selected.axes[0].object.name);
    event.axesfn(regid, pcaid);
  }
  else if ( selected.objects.length > 0 && activeAxis == null) {
      if(selectionMode ) selectionMode = false;
      var regid = invRegions[selected.objects[0].faceIndex];
      event.objfn(regid);
  }
  render();
}

function onDocumentMouseClick(event) {
  
	var selected = inputEvent(event);
}

function onDocumentOver(event){
  event.objfn =  function(regid){
    gui = $('.region[data-r="'+ regid +'"]').mouseenter();
    $('.region').not(gui).mouseleave();
  };

  event.mainfn = function(event, regid){
    if(currentOperation == undefined) return;
    // cl(activeRegion);
    current = toCanvasCoord(event);
    for(var i in regid){
    var region = mainExpFab.regions[regid[i]];
    var origin = region.centroid.clone();
    var displacement = current.clone().subVectors(current, origin);
    var originaldisplacement = down.clone().subVectors(down, origin);
    var larger = displacement.signTo(yaxis) > 0 == originaldisplacement.signTo(yaxis) > 0 ? 1 : -1;
    activeAxis.setLength( (larger * displacement.length() * (1/ originaldisplacement.length()) ));
    var scale = (displacement.length() - originaldisplacement.length());
    //cl("S:" + (scale * 5));
    var amp = larger * scale * (1/displacement.length()) * 5;
    currentTransform = new Transform(currentOperation, activeAxisID, activeDataStream, amp, false);
    currentTransform.transform(region, false);
  }
    //$(".op-slider[name='"+ currentOperation +"']").val(larger * scale * (1/displacement.length()) * 5).change();
  };

  var selected = inputEvent(event);

}
var activeAxisID = 0;

function onDocumentMouseDown(event) {

  event.objfn = function(regid){ 
    if(!selectionMode){
      $('.region[data-r="'+ regid +'"]').click(); 
      activeRegions = selectedRegions2(mainExpFab);
    }
  };
  if(currentOperation == undefined){
      //mainExpFab.mgui.displayUIMessage("Don't forget to select an operation.", "", false);  
      return;
  }


  event.axesfn = function(regid, pcaid){

    activeRegion = mainExpFab.regions[regid];
    activeAxis = activeRegion.pca_lines[pcaid];
    // activeRegion.params.axis = activeRegion.pca[pcaid];
    // activeRegion.params.axisid = pcaid;
    activeAxisID = pcaid;
    mainExpFab.dna.valueSetter({"axis" : toAxisColor(pcaid)});
    // cl(activeRegion);
    activeDataStream = mainExpFab.datastream;
    

    activeAxis.click();
    down = toCanvasCoord(event);
    
  };
  var selected = inputEvent(event);
}

selectionMode = false;
function onDocumentMouseUp(event) {

 event.axesfn = function(regid, pcaid){
    mainExpFab.regions[regid].pca_lines[pcaid].click();
 };
  

 
  event.mainfn = function(event, regid){
    up = toCanvasCoord(event);
    current = toCanvasCoord(event);
    for(var i in regid){

      var region = mainExpFab.regions[regid[i]];
      var origin = region.centroid.clone();
      var displacement = current.clone().subVectors(current, origin);
      
      var originaldisplacement = down.clone().subVectors(down, origin);
      var larger = displacement.signTo(yaxis) > 0 == originaldisplacement.signTo(yaxis) > 0 ? 1 : -1;
      activeAxis.setLength( (larger * displacement.length() * (1/ originaldisplacement.length()) ));
    }
      down = up;
  }

  var selected = inputEvent(event);

  if(activeRegions.length > 0 && currentTransform != null){
    datastreams[activeDataStream].saveState();
    mainExpFab.mutator.log(activeRegions);
    currentTransform = null;
  }
  console.log(selectionMode);
  activeAxis = null;
}	

</script>

<div class="pure-g-r content" id="layout">
    <div class="pure-u" id="nav"></div>

    <div class="pure-u-1" id="main">
        <div class="mesh-content">
            
            <div id='gallery-wrapper' class='gallery-sidebar'>
              
              <div id='gallery' ></div>
              
              <div id='gallery-controls'>
                <button id='screenshot'>Screenshot</button>
                <button id='fullscreen'>Fullscreen</button>
                <!-- <button id='save'>Export STL</button> -->
                <button id='test-region'>Region Pic</button>
              </div>
            </div>

            <div id="scene" class="mesh-content-body"></div>
        </div>
    </div>
</div>
 <span id="pulldown" class='undo'> <%= image_tag '/icons/undo.png', :class => "shadow"%> </span>
<div id="error" class='shadow'> 
  
  <h2> We encountered an error. </h2>
  <span id='error-msg'> Error message goes here. </span>
  <span class='x'>x</span> 
</span>